@import "./infoDeveloper.scss";
@import "./social.scss";

.Main {
  &__root {
    background-color: #002e3d;
    padding-top: 100px;
  }

  &__content-box {
    margin: auto;
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__separator {
    margin-top: 2px;
    transform: rotate(180deg);
  }
}
