.Info-developer {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: auto;

  &__avatar-img {
    object-fit: contain;
    height: 400px;
    width: 100%;
  }

  &__about {
  }

  &__name {
    font-family: "PeachyKeenJF", sans-serif;
    color: #f7f474;
    margin: 0;
    font-size: 60px;
  }

  &__about-text {
    color: #00ffff;
    font-family: "Nanum Pen Script", cursive;
    font-size: 32px;
    margin: 0;
    text-align: center;
  }

  &__arrow-about {
    position: absolute;
    display: flex;
    transform: rotate(15deg);

    &-title {
      color: #fff;
    }

    &-icon {
      margin-left: 12px;
    }
  }

  &__top {
    max-width: 220px;
    top: 10%;
    left: 2%;
  }

  &__left {
    white-space: nowrap;
    left: 10%;
    top: 60%;
    transform: rotate(-15deg);
  }

  &__right {
    right: 0;
    top: 40%;
    max-width: 250px;

    .Info-developer__arrow-about-title {
      order: 1;
    }

    .Info-developer__arrow-about-icon {
      transform: rotate(187deg);
      margin-left: 0;
      margin-right: 12px;
    }
  }

  @media (max-width: 768px) {
    &__arrow-about {
      display: none;
    }
  }
}
