<!-- FIXME: исправить ошибку -->
<script>
  import { isOpen } from "../../store/index";

  const mobileMenu = document.querySelector("[data-mobile-menu]");
  const closeMenuButton = document.querySelectorAll("[data-close-menu]");

  isOpen.subscribe((open) => {
    mobileMenu.style.display = open ? "block" : "none";
  });

  function closeMenu() {
    isOpen.set(false);
  }

  closeMenuButton.forEach((item) => {
    item?.addEventListener("click", closeMenu);
  });
</script>

<menu data-mobile-menu class="Mobile-menu">
  <div class="Mobile-menu__button-box">
    <button data-close-menu class="Mobile-menu__button"
      >(close this thing)</button
    >
  </div>
  <div class="Mobile-menu__items">
    <!-- добавить ссылки -->
    <a data-close-menu href="#portfolio" class="Mobile-menu__item">Portfolio</a>
    <a data-close-menu class="Mobile-menu__item">About me</a>
    <a data-close-menu class="Mobile-menu__item">Articles</a>
  </div>
</menu>

<style lang="scss">
  .Mobile-menu {
    position: fixed;
    display: none;
    background: #f7f473;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 12px;
    top: 0;
    margin-top: 0;

    &__button-box {
      display: flex;
      justify-content: center;
    }

    &__button {
      cursor: pointer;
      padding: 24px;
      background: none;
      border: none;
      font-size: 24px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }

    &__items {
      position: relative;
      top: 30%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__item {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      padding: 30px;
      margin: 0;
      color: #000;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
</style>
