<script>
  import { isOpen } from "../../store/index";

  const mobileMenu = document.querySelector("[data-mobile-menu]");
  const closeMenuButton = document.querySelector("[data-close-menu]");

  isOpen.subscribe((open) => {
    mobileMenu.style.display = open ? "block" : "none";
  });

  function closeMenu() {
    isOpen.set(false);
  }

  closeMenuButton?.addEventListener("click", closeMenu);
</script>

<menu data-mobile-menu class="Mobile-menu">
  <div class="Mobile-menu__button-box">
    <button data-close-menu class="Mobile-menu__button"
      >(close this thing)</button
    >
  </div>
  <div class="Mobile-menu__items">
    <h1>Portfolio</h1>
    <h1>About me</h1>
    <h1>Articles</h1>
  </div>
</menu>

<style lang="scss">
  .Mobile-menu {
    position: fixed;
    background: #f7f473;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 12px;
    top: 0;
    margin-top: 0;

    &__button-box {
      display: flex;
      justify-content: center;
    }

    &__button {
      padding: 24px;
      background: none;
      border: none;
      font-size: 24px;
      text-transform: uppercase;
    }

    &__items {
      position: relative;
      top: 30%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__item {
      font-size: 50px;
      text-transform: uppercase;
      text-align: center;
      padding: 30px;
      color: #000;
    }
  }
</style>
