
---
const cards = [
  {
    id: 'modul',
    name: 'Modulbank',
    // href: "/portfolio/euro2020",
    // plashka: {
    //   name: 'Work projects',
    //   color: 'black'
    // },
  },
  {
    id: 'rt',
    name: 'online store',
    href: "/portfolio/store",
    // plashka: {
    //   name: 'Pet Project',
    //   color: 'black'
    // },
  },
  {
    id: 'taxi',
    name: 'Yul Yort',
    href: "/portfolio/taxi",
    // plashka: {
    //   name: 'Startup',
    //   color: 'black'
    // },
  },
]
---
<div class="Portfolio__cards Grid-default">
  {cards.map((item, index) => {
    return (
      <div>
        {item.name}
      </div>
    );
  })}
</div>