---
import Cards from './cards.astro'
import './styles/index.scss'
import Title from './title.astro'
import Stack from './stack.astro'
---

<div class="Portfolio Portfolio__root">
  <div class="App-content Portfolio_content">
    <Title />
    <Cards />
    <Stack />
  </div>
  <footer>footer</footer>
</div>