---
import burger from "../../assets/images/icons/burger.png";
---

<script>
  import { isOpen } from "../../store/index";

  function openMenu() {
    isOpen.set(true);
  }
  document.getElementById("burger")?.addEventListener("click", openMenu);
</script>

<div class={`Header Header__root`}>
  <div class="App-content Header__box">
    <a
      href="/public/files/davletkulov_cv.pdf"
      class="Header__download"
      target="_blank">Download CV</a
    >
    <div id="burger" class="Header__burger">
      <img src={burger.src} alt="burger" />
    </div>
  </div>
</div>

<style lang="scss">
  .Header {
    &__root {
      position: absolute;
      padding: 24px 0;
      color: #f7f473;
      width: 100%;
    }

    &__download {
      color: aqua;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__logo {
      font-size: 40px;
      width: 100px;
      color: #f7f473;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 960px;
      margin: auto;
    }

    &__nav {
      display: flex;
      align-items: center;
    }

    &__burger {
      width: 44px;
      &:hover {
        cursor: pointer;
      }
    }
  }
</style>
