---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/header/index.astro'

---


<Layout title="Welcome to Astro.">
  <Header/>
  <!-- <div class="cover">

  </div> -->
  <div class="portfolio">
    <h1>Bank</h1>

    <h1>Development of Tax Payment Functionality</h1>
    
        <p><strong>Цель проекта:</strong> Создание удобного и эффективного инструмента для граждан и предприятий, позволяющего осуществлять оплату налогов с минимальными усилиями.</p>
    
        <p><strong>Описание проекта:</strong> Проект направлен на создание онлайн-платформы, которая позволит налогоплательщикам легко и безопасно оплачивать налоги, включая налог на доходы, налог на имущество, НДС и другие. Функционал включает в себя возможность расчета суммы налогов, предоставления подробных отчетов о платежах, автоматического учета сроков и предоставления опций для различных методов оплаты.</p>
    
        <p><strong>Преимущества проекта:</strong></p>
        <ul>
            <li>Упрощение процесса оплаты налогов для граждан и предприятий.</li>
            <li>Минимизация рисков ошибок при расчете налогов.</li>
            <li>Увеличение прозрачности и доступности информации о налоговых обязательствах.</li>
            <li>Повышение эффективности работы налоговых органов.</li>
        </ul>
    
        <p><strong>Ожидаемые результаты:</strong> Успешная реализация проекта позволит сократить время и усилия, необходимые для оплаты налогов, уменьшить количество ошибок в процессе и улучшить взаимодействие между гражданами, предприятиями и налоговыми органами.</p>
    
        <p><strong>Дата завершения проекта:</strong> [Указать предполагаемую дату завершения проекта]</p>
    
        <p><strong>Ключевые этапы проекта:</strong></p>
        <ol>
            <li>Анализ требований пользователей и законодательных норм.</li>
            <li>Разработка и тестирование функционала платформы.</li>
            <li>Интеграция с налоговыми системами и платежными шлюзами.</li>
            <li>Запуск и обучение пользователей.</li>
            <li>Поддержка и обновление системы.</li>
        </ol>
  </div>
</Layout>

<style>
  body {
    background-color: #f0f0f0;
  }

  .portfolio {
    margin: auto;
    max-width: 1024px;
  }
  .cover {
    height: 50vh;
    width: 100%;
    background-color: aqua;
  }
 
  p {
      margin-bottom: 20px;
  }

  ul {
      margin-bottom: 20px;
  }

  li {
      margin-bottom: 10px;
  }

  strong {
      font-weight: bold;
  }

  em {
      font-style: italic;
  }
</style>